# Ignore everything in figures directory except PNGs and TEX files
docs/figures/*
!docs/figures/*.png
!docs/figures/*.tex

local/

# The actual virtual environment (compiled binaries and libraries)
.venv/

__pycache__/
*.py[cod]
*$py.class